data/tbl_headers/*.json filter=lfs diff=lfs merge=lfs -text
data/jar/* filter=lfs diff=lfs merge=lfs -text
data/schema/* filter=lfs diff=lfs merge=lfs -text
data/model/* filter=lfs diff=lfs merge=lfs -text
data/districts_cn.gz filter=lfs diff=lfs merge=lfs -text
data/extract_information/** filter=lfs diff=lfs merge=lfs -text
data/pretrained_models/** filter=lfs diff=lfs merge=lfs -text
data/sse_output/*.xls* filter=lfs diff=lfs merge=lfs -text
data/tests/*.zip filter=lfs diff=lfs merge=lfs -text
data/tests/interdoc/*.zip filter=lfs diff=lfs merge=lfs -text
data/tests/*.json filter=lfs diff=lfs merge=lfs -text
data/tests/*.pdf filter=lfs diff=lfs merge=lfs -text
data/swagger/* filter=lfs diff=lfs merge=lfs -text
remarkable/plugins/cgs/data/* filter=lfs diff=lfs merge=lfs -text
bin/instantclient_11_2/* filter=lfs diff=lfs merge=lfs -text
bin/dr/docx_revision filter=lfs diff=lfs merge=lfs -text
i18n/locales/zh_CN/LC_MESSAGES/Scriber-Backend.mo filter=lfs diff=lfs merge=lfs -text
data/htsc/template.xlsx filter=lfs diff=lfs merge=lfs -text
data/*.doc filter=lfs diff=lfs merge=lfs -text
data/ms-playwright/** filter=lfs diff=lfs merge=lfs -text
data/chinaamc_yx/** filter=lfs diff=lfs merge=lfs -text
data/cgs/上海盈象大象收益_1_号私募证券投资基金.json filter=lfs diff=lfs merge=lfs -text
data/cgs/昨夜星辰昨夜2风私募证券投资基金.json filter=lfs diff=lfs merge=lfs -text
data/cgs/误入藕花深处私募证券投资基金.json filter=lfs diff=lfs merge=lfs -text
data/nafmii/*.jar filter=lfs diff=lfs merge=lfs -text
