debug: False
logging:
  level: "info"

app:
  app_id: "scriber_ccx_poc"
  secret_key: "hello_remarkable"
  token_expire: 7200
  session_expire: 7200  # session过期时间, 不配置默认600s
  rate_limit_expire: 7200  # 接口访问频率限制时间, 不配默认60s(暂未启用)
  max_fail_count: 100  # session有效期内最大尝试登录次数, 不配默认10次, 超过限制次数继续登录会被持续封禁
  auth:
    pdfinsight:
      app_id: "pdfinsight"
      secret_key: "show-me-the-money"
      token_expire: 120
      url: "http://192.168.1.50:28096"
    trident:
      app_id: "trident"
      secret_key: "show-me-the-money"
      token_expire: 120
      url: "http://100.64.0.1:4080"
web:
  http_port: 8185
  domain: "100.64.0.1:23451"
  redirect_subpath: "scriber/"
  user_system_provider: "trident"
  plugins:
    - "fileapi"
    - "ext_api"
    - "debug"
    - "diff"
    - "ccxi"
  classes:
    answer_converter: "remarkable.converter.ccxi.CCXIAnswerWorkShop"  # 转换&推送答案
    
  apis:
    sso: "http://tl.paodingai.com/op/admin/login/subsys"
    login_callback: "http://tl.paodingai.com/lrcapi/v1/user/login/by_token"
    get_label_user: "http://tl.paodingai.com/adminuser/%d"
    get_label_user_by_cn_list: "https://tl.paodingai.com/adminuser"
  pdf_converter: '{project_root}/bin/converter/word2pdf.exe'
  tmp_dir: "/data/tmp/"
  data_dir: '{project_root}/data/files/'
  default_question_health: 1
  preset_answer: True
  limit_of_preset_num: 10  # 限制预测答案的个数
  limit_of_crude_elts: 5  # 限制读取预测元素块的个数
  predict_from_memory:
    switch: True
    data_dir: '{project_root}/data/tbl_headers/'
  model_manage: True
  show_merge_answer: False
  record_manual: True
  mode_conflict_treatment: 3  # 冲突处理方式：1-人工处理、2-以最新为准、3-合并答案
  mode_unlimited_answers: True  # 无限答题模式（答题次数不受限制）
  model_abroad: True  # 模型接入（接入外部模型）
  trust_routes:  # 跳过auth check的路由列表
    - "/config"
  enable_remote_model: True  # 提取模型配置中，启用对接远程模型选项
  table_association: True  # 是否开启表格辅助标注功能

  show_marker: True  # 显示标注人员信息
  customer_answer: True # 生成客户定制化答案

db:
  host: "localhost"
  port: 35330
  dbname: "draft"
  user: "postgres"
  password: ""
redis:
  host: "127.0.0.1"
  port: 16379
  password: "scriber"
  db: 4
client:
  name: "ccxi" # hkex, szse
  remark_progress_type: "level1" # all
  language: "zh_CN" # en_US
  hide_rough_fields: True
  show_prompt_element_button: True
  check_schema_base_type: False
  
  export_label_data: False  # 是否支持"导出标注json"
  export_answer_csv: False  # 是否支持"导出答案csv"
  stat_accuracy: True  # 是否支持统计模型正确率
  confirm_needed_cols:
    - "*|收购标的情况|收购标的"

feature:
  batch_delete: True  # 批量删除功能
  upload_popup: True  # 上传文件时打开自定义弹窗
  secondary_submit: True  # 在「别人的答案」基础上提交答案
  answer_diff: True  # 文档答案对比
  file_list_page:  # 文件列表页相关
    file_type_column: True  # 文件列表显示 【文件类型】列
  customization_schema_fields: True  # 自定义schema字段

worker:
  app_name: "remarkable"
  default_queue: "celery"

prompter:
  workers: 1
  batch_size: 100
  auto_build_ignores: "*"
  answer_version: 2.2
  training_data_status: "1, 2, 5, 10, 100"
  mode: "v2"  # 定位模型版本: v1 or v2
  use_syllabuses: True    # 是否使用目录信息
  tokenization: "jieba"   # 分词方法，为 null 则按空白分词（英文）
  context_length: 1       # 上下文范围


prophet:
  multi_packages:
    - "ccxi_predictor"
    - "china_stock_predictor"
  config_map:
    主定义表: "primary"
    信托合同: "fiduciary"
    标准条款: "standard_terms"
    公募-资产管理合同: "public_asset_management"

build:
  docker:
    cli_pipe: # 部署命令
      - 'inv op.import-schema --name=ccxi'

      - 'inv op.deploy-model 主定义表 --name=ccxi_primary'

      - 'inv op.deploy-model 信托合同 --name=ccxi_fiduciary'

      - 'inv op.deploy-model 标准条款 --name=ccxi_standard_terms'

ccxi:
  molds_limit:
    信贷ABS:
      主定义表:
        limit: 1
        mutually_exclusive:
          - "信托合同（含主定义表）"
      信托合同:
        limit: 1
        mutually_exclusive:
          - "信托合同（含主定义表）"
      信托合同（含主定义表）:
        limit: 1
        mutually_exclusive:
          - "主定义表"
          - "信托合同"
      服务合同:
        limit: 1
      保管合同:
        limit: 1
    ABN:
      主定义表:
        limit: 1
        mutually_exclusive:
          - "信托合同（含主定义表）"
      信托合同:
        limit: 1
        mutually_exclusive:
          - "信托合同（含主定义表）"
      信托合同（含主定义表）:
        limit: 1
        mutually_exclusive:
          - "主定义表"
          - "信托合同"
      服务合同:
        limit: 1
      保管合同:
        limit: 1
    企业ABS:
      标准条款:
        limit: 1
        mutually_exclusive:
          - "标准条款（不含主定义表）"
          - "主定义表"
      标准条款（不含主定义表）:
        limit: 1
        mutually_exclusive:
          - "标准条款"
      主定义表:
        limit: 1
        mutually_exclusive:
          - "标准条款"
      资产买卖协议:
        limit: 1
      服务协议:
        limit: 1
      托管协议:
        limit: 1
    非标:
      主定义表:
        limit: 1
        mutually_exclusive:
          - "信托合同（含主定义表）"
      信托合同:
        limit: 1
        mutually_exclusive:
          - "信托合同（含主定义表）"
      信托合同（含主定义表）:
        limit: 1
        mutually_exclusive:
          - "主定义表"
          - "信托合同"
      服务合同:
        limit: 1
      保管合同:
        limit: 1
      资产买卖协议/投资合同:
        limit: 1
_new_entry:
  "prompter.training_data_status": "prompter.trainning_data_status"
