debug: False
logging:
  level: "info"

app:
  app_id: "remarkable"
  secret_key: "hello_remarkable"
  token_expire: 120
  session_expire: 32400  # session过期时间，9小时
  rate_limit_expire: 7200  # 接口访问频率限制时间, 不配默认60s(暂未启用)
  max_fail_count: 100  # session有效期内最大尝试登录次数, 不配默认10次, 超过限制次数继续登录会被持续封禁
  auth:
    label:
      app_id: ""
      secret_key: ""
      token_expire: 300
    roster:
      app_id: ""
      secret_key: ""
      token_expire: 300
      url: ""
    pdfinsight:
      app_id: "pdfinsight"
      secret_key: "show-me-the-money"
      token_expire: 120
      url: "http://pdfinsight:8096"
    trident:
      app_id: "trident"
      secret_key: "show-me-the-money"
      token_expire: 120
      url: "http://100.64.0.1:6081"
      cas_logout_url: ""
web:
  redirect_subpath: "scriber"
  http_port: 8080
  domain: "scriber:8000"
  plugins:
    - "fileapi"
    - "debug"
    - "ext_api"
  classes:
    
    answer_predictor: "remarkable.plugins.citic.predictors.FundationContractPredictor"
  apis:
    sso: ""
    login_callback: ""
    get_label_user: ""
    get_label_user_by_cn_list: ""
  parser:
    mode: "pdf"
  pdf_converter: '{project_root}/bin/converter/word2pdf.exe'
  pdf_convert_provider: 'local'
  tmp_dir: "/data/tmp/"
  data_dir: '{project_root}/data/files/'
  prompter_dir: '{project_root}/data/prompter/'
  default_question_health: 1
  preset_answer: True
  limit_of_preset_num: 10  # 限制预测答案的个数
  limit_of_crude_elts: 5   # 限制读取预测元素块的个数
  folder_permission: True # 是否开启文件夹权限控制
  independent_file_perm: True  # 是否开启文件权限控制
  user_system_provider: "trident"  # 用户系统 `self` or `trident`
  predict_from_memory:
    switch: True
    data_dir: '{project_root}/data/tbl_headers/'
  readonly_mold_list:
    - "基金合同"
  model_manage: True  # 模型版本管理
  data_abroad: False  # 数据生产（对接外部数据库）
  model_abroad: False  # 模型接入（接入外部模型）
  show_merge_answer: False
  record_manual: False
  mode_conflict_treatment: 3  # 冲突处理方式：1-人工处理、2-以最新为准、3-合并答案
  merge_empty_item: True    # 是否允许空答案合并进merged_answer
  xsrf_cookies: True  # xsrf验证，默认关闭
  trust_routes:  # 跳过auth&xsrf check的路由列表
    - "/config"
    - "/login"
    - "/files/[0-9]+/hash/[0-9a-fA-F]+/preprocess_complete"
  binary_key: 'hkx85vMOBSM7M7W'  # 加密接口密钥
  encrypted_routes:  # 加密的接口(默认不开)
    - '/login'
    - '/user'
    - '/user/[0-9]+'

db:
  host: "postgres"
  port: 5432
  dbname: "scriber"
  user: "postgres"
  password: ""
redis:
  host: redis
  port: 6379
  db: 1
  password: "scriber"
client:
  name: "csc"                    # hkex, szse, zxjt
  show_all_predict_items: True  # 是否展示多个预测答案（指多选）
  remark_progress_type: "level1"  # all
  language: "zh_CN"               # en_US
  hide_rough_fields: True
  show_prompt_element_button: True
  check_schema_base_type: False
  export_label_data: True  # 是否支持"导出标注json"
  export_answer_csv: True  # 是否支持"导出答案csv"
  stat_accuracy: True      # 是否支持统计模型正确率
  
  confirm_needed_cols:
    - "*|收购标的情况|收购标的"
  ocr:
    enable: False
    service: "abbyy"

feature:
  common_permissions:
    browse:
      name: "浏览"
      definition: "可浏览项目"
    remark:
      name: "信息提取"
      definition: "可对文档进行标注以及查看提取结果"
    manage_prj:
      name: "项目管理"
      definition: "可对其他用户项目进行编辑以及删除"
    manage_user:
      name: "用户管理"
      definition: "可对系统用户账号进行增加、删除以及修改"
    manage_mold:
      name: "Schema管理"
      definition: "可对其他用户Schema进行编辑以及删除"
    manage_model:
      name: "模型管理"
      definition: "可对模型进行版本创建、提取模式设置、训练、启用以及删除"
    table_identification:
      name: "表格抽取"
      definition: "表格抽取功能"


worker:
  app_name: "remarkable"
  default_queue: "celery"

prompter:
  workers: 4
  mode: "v2"  # 定位模型版本: v1 or v2
  use_syllabuses: True    # 是否使用目录信息
  tokenization: "jieba"   # 分词方法，为 null 则按空白分词（英文）
  context_length: 1       # 上下文范围
  batch_size: 100
  auto_build_ignores: "*"
  answer_version: 2.2
  training_data_status: "2, 5, 10, 100"

pdfparser_config:
  rpc_client:
    abbyy:
      target: "abbyy:8000"
_new_entry:
  "prompter.training_data_status": "prompter.trainning_data_status"
