debug: False # 测试环境可以打开以方便调试
logging:
  level: "info"

app:
  app_id: "remarkable" # scriber应用id, 充当cookie前缀字段, 如remarkable_user_id, 以标识应用类型, 默认值: remarkable
  secret_key: "hello_remarkable" # 密钥, 用于加密token
  simple_token: "" # 配置external_api接口验证，缺省则不验证
  token_expire: 120 # token过期时间, 单位(秒)
  single_sign_limit: False # 单点登录限制，默认不限制
  session_expire: 7200 # session过期时间, 不配置默认600s
  rate_limit_expire: 7200 # 接口访问频率限制时间, 不配默认60s(暂未启用)
  max_fail_count: 100 # session有效期内最大尝试登录次数, 不配默认10次, 超过限制次数继续登录会被持续封禁
  multiprocessing: "enable"  # 多进程开关, enable/disable
  auth: # 这里记录各个回调服务的信息, 如密钥, 回调地址, app_id等
    label:
      app_id: "internal"
      secret_key: "show-me-the-money"
      token_expire: 300
    roster:
      app_id: "cheftin-roster"
      secret_key: "you-never-know-it"
      token_expire: 300
      url: "http://u.paodingai.com"
    pdfinsight:
      app_id: "pdfinsight"
      secret_key: "show-me-the-money"
      token_expire: 120
      url: "http://pdfinsight"
      prediction: True  # 模型预测, 默认打开, 如关闭则文档的全部内容都在paragraphs里
      title_ai: True  # 目录模型预测（关闭是规则预测），默认开启
      column: 0  # 分栏预测（关闭是单栏），默认关闭,设为1则为打开
      outline_version: "grater_bzy" # 中信建投八爪鱼项目 指定扫描件调用的元素块模型版本 https://mm.paodingai.com/cheftin/pl/6mg95otfxf8cjgrfd6nzqznsjc
      force_ocr_pages: "0,1,2"  # 强制OCR的页码，多个页码用英文逗号分隔，如"0,1,2"
      max_ocr_page_idx: 60  # 指定页数之后的页面强制不走OCR
      max_pages: 100  # 指定页数之后的页面强制不解析
      docx_as_pdf: False # 上传的文件是docx时该参数设置为True，pdfinsight处理时会先将docx转换为pdf,再进行后续处理 ocr=1时会强制ocr
      # 默认是False pdfinsight会先对docx涂色处理，该流程下 无论ocr设置为1或0 都不会走ocr
      newline_mode: 0  # 传入2 保持原 word 中的换行
      force_ocr: 0

    autodoc:
      app_id: "autodoc"
      secret_key: "show-me-the-money"
      token_expire: 300
      url: "http://autodoc"
  new_entry:
    'new.key.path': 'old.key.path' # 用于兼容旧的环境变量注入

speedy:
  application: "scriber"
  application_name: "Scriber"
  expiration_timestamp: 0 # 过期所有API
  enable_docs: True
  xsrf_cookies:
    enable: False
    name: "_xsrf"
    header: "X-Csrftoken"
    secure: False
    httponly: True
    samesite: "lax"
    trust_routes:
      - "/"
      - "/api/v./"
      - "/api/v./login"
      - "/api/v./logout"
  i18n:
    enable: True
    default_locale: "en"
    domain: "Scriber-Backend"
    localedir: "{{project_root}}/i18n/locales"
    locales:
      - "en"
      - "zh"

web:
  http_port: 8080 # 服务监听端口
  rpc_port: 10051  # rpc 服务监听端口
  domain: "scriber" # 绑定主机名
  valid_origins: "{web.domain}" # 允许跨域访问的主机名，多个主机名用英文逗号分隔，如"www.example.com,www.example2.com"; 配置就限制，不配置就放开
  redirect_subpath: "scriber/"  # 修正重定向地址
  debug_frontend_upstream: "http://scriber"  # 前端请求反向代理地址，调试用
  static_dir: "/opt/scriber/remarkable/static"  # 静态文件目录，生产环境使用，本地开发环境不存在时会使用前端代理
  fonts_dir: "/opt/fonts"  # 字体文件目录，生产环境使用
  scheme: http # http or https
  http_headers: {}
  encoding_gzip: False  # 允许前端用gzip提交数据
  render_api_docs: False # 是否生成openapi文档
  plugins: # 各种功能插件, 位于remarkable/plugins目录下
    - "fileapi" # 文件管理(核心功能插件)
    - "diff" # 文档对比功能(目前海通系统专用, port自Calliper项目)
    - "debug" # 调试, 目前用于同步线上数据至本地环境, 部署到客户环境时应该禁用
    - "sse" # 上交所
    - "citic" # 中信证券
    - "rule" # 海通证券
    - "cgs" # 银河证券
    - "inspector" # 审核模块(审核模块的部分接口在cgs/handlers.py,启用inspector时,需同步启用cgs)
  classes: # 自定义规则检查类方法, 不同客户环境指向不同
    answer_converter: "remarkable.converter.sse.AnswerWorkShop"  # 转换&推送答案
    
    answer_predictor: # 答案预测
      科创板招股说明书信息抽取POC: "remarkable.plugins.sse.sse_predictor.SsePredictor"
    answer_inspector: # 合规检查
      完备性审核: "remarkable.rule.csrc.inspect.CompleteCsrcInspector"
  check_before_submit: False  # 点提交答案后,就对答案能否满足answer_converter里的要求进行检查

  apis:
    sso: "http://tl.paodingai.com/op/admin/login/subsys" # 与 label 系统对接的单点登录接口
    login_callback: "http://tl.paodingai.com/lrcapi/v1/user/login/by_token" # 与 label 系统对接的单点登录接口（本系统的回调地址）
    get_label_user: "http://tl.paodingai.com/adminuser/%d" # 获取 label 系统用户
    get_label_user_by_cn_list: "https://tl.paodingai.com/adminuser" # 获取 label 系统用户列表
    sync_host: "http://jefferson.paodingai.com:5887" # 线上数据同步接口地址(需要开启debug插件才有效)
    stencil_host: ""
  inspect_rules: True # 完备性审核开关
  parser: # 文档解析类型, 目前有pdf/docx两种
    mode: "pdf" # 默认pdf, 只有海通环境才是docx
  doc2docx_converter: "{project_root}/bin/converter/doc2docx.exe" # doc 转 docx 工具
  pdf_converter: "{project_root}/bin/converter/word2pdf.exe" # doc/docx 转 pdf 工具
  pdf_convert_provider: "pdfinsight" # 可选 local 或 pdfinsight local 使用本地转换工具生成 pdf，再调用 pdfinsight 预处理接口
  wordinsight: "{project_root}/bin/wordinsight/wordinsight.dll" # wordinsight 工具
  revision_tools: "{project_root}/bin/dr/docx_revision" # docx 批注工具
  parse_pdf: True  # 调pdfinsight解析pdf
  store_revise_docx: False # 是否存储~/preprocess_complete回调接口里的revise_docx数据
  tmp_dir: "/data/tmp/" # 用于文档处理的临时目录（比如文档转换）
  data_dir: "{project_root}/data/files/" # 存储文件夹
  prompter_dir: "{project_root}/data/prompter/" # 位置推荐模型目录
  default_question_health: 1 # 几人答题
  preset_answer: False # 预测答案开关
  preset_from_cache: False # 读取缓存答案开关
  predict_crude_elements: True # 生成crude_answer预测元素块开关
  user_answer_black_list: "" # uid， 这些用户的答案不会作为缓存答案
  limit_of_preset_num: 10 # 限制预测答案的个数
  limit_of_crude_elts: 5 # 限制读取预测元素块的个数
  show_merge_answer: False # 前端是否显示"合并的答案"按钮
  auto_merge_answers: False # 答案分段合并
  record_manual: False # 前端是否显示"采用答案"按钮
  sleep_range_when_match_cache: 4-6 # 命中缓存答案后延迟时间设置 格式为`{start}-{end}` 单位为分钟
  folder_permission: True # 是否开启文件夹权限控制(海通)
  compare_term_template: True # 科创板完备性审核答案是否跟模板比较
  independent_file_perm: True # 是否开启文件权限控制(海通)  默认开启文件夹权限 此参数弃用
  table_association: False # 是否开启表格辅助标注功能
  table_association_postfix: False  # 表格辅助标注时是否可标后缀
  chapter_assist: False # 是否开启章节辅助标注功能
  predict_from_memory: # 每个属性的表头信息缓存下来，作为预测功能的补充信息（深交所）
    switch: True
    data_dir: "{project_root}/data/tbl_headers/"
  mode_unlimited_answers: False # 无限答题模式（答题次数不受限制）
  mode_conflict_treatment: 1 # 冲突处理方式：1-人工处理、2-以最新为准、3-合并答案
  merge_empty_item: False   #  是否允许空答案合并进merged_answer
  show_export_answer: False # 显示/隐藏"导出的答案"按钮(上交所)
  show_marker: False # 显示/隐藏标记人员（上交所）
  answer_convert: # 答案转换: 标注schema -> 导出schema(上交所)
    科创板招股说明书信息抽取: "科创板招股说明书信息导出json"
  model_manage: False # 模型版本管理
  user_system_provider: "self" # 用户系统 `self` or `trident`(需和app.auth.trident.url搭配食用)
  unsure_warnning_score: 0 # 答案中提示 “此项不确定” 的分数阈值
  readonly_mold_list: # 只读 mold 列表，id / name 均可
    - 1
    - "基金合同"
  force_ocr_mold_list:  # 需要强制进行ocr的mold，id / name 均可
    - 1
    - "深圳标准研究院_标准文件"
  default_mold_public: True  # mold.public 默认为True
  push_autodoc: False # 是否将合规结果推送至autodoc
  data_abroad: False # 数据生产（对接外部数据库）
  model_abroad: False # 模型接入（接入外部模型）
  xsrf_cookies: False # xsrf验证，默认关闭
  allowed_origins: ""  # 允许跳过`referer check`的主机名，多个主机名用英文逗号分隔，如"www.example.com,www.example2.com"; `xsrf_cookies=True`且`allowed_origins`不为空时生效，即只有在`allowed_origins`中的主机名才能跳过`referer check`
  trust_routes: # 跳过auth&xsrf check的路由列表
    - "/config"
    - "/login"
    - "/files/[0-9]+/hash/[0-9a-fA-F]+/preprocess_complete"
  binary_key: "hkx85vMOBSM7M7W" # 加密接口密钥
  encrypted_routes: # 加密的接口(默认不开)
  #    - '/login'
  #    - '/user'
  #    - '/user/[0-9]+/put'
  enable_remote_model: True # 提取模型配置中，启用对接远程模型选项
  http_secure_map: {}  # 关闭不安全的http方法（上交所）
  push_preset_answer: False # 下游对接 推送preset_answer (上交所)
  customer_answer: False # 生成客户定制化答案
  gen_diff_cache: True  # 生成diff时使用的缓存
  allow_same_name_file_in_project: True # 允许项目内同名文件上传
  cut_subpath_for_token: False # 计算token时是否切掉subpath
  run_lock_expired: 600 # ~/run接口调用的间隔时间
  score_filter_threshold: 0.3  # score_filter模型分数阈值
  default_page: 'default'   # 进入系统后展示的页面形式
  only_szse_ipo: False   # 是否只展示IPO相关的几个界面
  crude_answer_threshold: 0 #前端显示的初步定位结果的阈值，低于此数值不显示
  user_without_login: # 若系统对接时不需要登录，保存答案时指定的默认用户 用户名密码均为此配置
  project_meta:
    prj_type: "合同管理"

  use_pdfinsight_cache_limit_hours: 86400  # pdfinsight缓存时间限制 不配置时不走缓存 24*60*60
  enable_pdf2word: False # 是否开启 pdf转word工具栏 https://gitpd.paodingai.com/cheftin/docs_scriber/-/issues/1415

data_flow:  # 逐步把数据流相关的配置项挪过来
  post_pipe_after_preset: True # 预测完之后是否执行后处理
  file_answer:
    generate: True # 生成文件级的答案
    merge_strategy: 'only_latest' # 仅采用新的

db:
  host: "postgres"
  port: 5432
  dbname: "scriber"
  user: "postgres"
  password: ""
  server_settings:
    # GaussDB detection
    # https://github.com/ferstar/asyncpg/commit/0be6023443346213a26795a27ef3add7abc79aea
    application_name: "Scriber(openGaussDB)"

redis: # redis 数据库，目前用于模型训练
  host: "127.0.0.1"
  port: 6379
  db: 0
  password: ""

client:
  autoreload: False
  name: "szse" # hkex, szse等区分不同客户环境
  remark_progress_type: "level1" # all
  language: "zh_CN" # en_US
  content_language: "zh_CN" # 文档的语言, zh_CN/en_US
  support_multiple_molds: False # 是否支持多schema
  calliper_diff: False  # 选择两个文件发送到calliper进行对比
  hide_rough_fields: True # 隐藏效果不好的字段（需求来自深交所）
  show_prompt_element_button: False # 前端AI推荐位置按钮开关
  show_push_to_autodoc_btn: False # 推送答案至AutoDoc环境(对应前端"推送到AutoDoc"按钮)
  check_schema_base_type: False # TODO: ?
  export_label_data: False # 是否支持"导出标注json"
  export_label_txt: False  # 是否支持"导出标注txt"
  export_answer_csv: False # 是否支持"导出答案csv"
  export_answer_csv_all_in_one: False # 导出答案csv时多个file合并输出到一个excel文件
  stat_accuracy: False # 是否支持统计模型正确率
  file_size_limit: 20  # 文件大小限制(单位MB)
  show_all_predict_items: True # 是否展示多个预测答案（指多选）
  show_ai_modules: True # 是否展示ai相关的功能, AI预测,推荐答案,预测中,预测完成 等
  show_ai_score: True # 是否显示预测答案的分数
  answer_default_display_level: 5 # 答案默认展开级别, 数字代表展开到第n级(上交所)
  export_single_answer: False # 是否显示导出标注/预测答案按钮(上交所)
  confirm_needed_cols: [] # 可以人工确认的字段（确认后可据此重新提取）
  ocr: # ocr服务, 用于对扫描件进行标注画框
    # 开启OCR服务时，需要配置pdfparser OCR的RPC服务地址
    # 示例：PDFPARSER_CONFIG_RPC_CLIENT_PAI_TARGET=pdfparser:1888
    enable: False # 默认不开启
    # 可选abbyy,aliyun,baidu,hehe,hehe_ebscn,hehe_htsc,hehe_private,ht_esb,pai,onlyou,ydbs,youtu等
    # 最新合法的OCR服务名以pdfparser支持为准：
    # https://gitpd.paodingai.com/cheftin/PDFParser/-/blob/master/pdfparser/ocr/__init__.py#L6
    service: "pai"

  cron_task_switch: # 定时任务开关
    run_answer_sync: False
    run_file_sync: False


feature:  # 功能特性相关配置
  batch_delete: True  # 批量删除功能
  new_project: True  # 新建项目
  new_project_popup_default_molds: True  # 新建项目时选择默认Schema
  zip_upload: True  # 上传文件压缩包
  zip_upload_with_xsrf: False # 上传zip时的XSRF参数配置
  upload_popup: False  # 上传文件时打开自定义弹窗
  upload_pop_default_molds: False  # 上传文件时选择默认Schema
  project_for_external_file: ""  # 外部文件所属项目名
  supported_suffixes: ['.zip', '.doc', '.docx', '.jpeg', '.jpg', '.pdf', '.png', '.txt']  # 支持的后缀
  label_tools: True  # 标注工具条显示"元素块提取"
  basic_field_multi: True  # 基础类型的字段可标注多项
  answer_batch_edit: False # 答案树支持"批量修改"
  secondary_submit: True  # 在「别人的答案」基础上提交答案
  answer_diff: False  # 文档答案对比
  file_list_page:  # 文件列表页相关
    new_buttons: True  # 新建文件夹、上传文件、上传zip的按钮
    customization_columns: False  # 文件列表支持自定义列（仅前端交互）
    option_type_column: False  # 文件列表显示 【操作类型】列
    file_type_column: False  # 文件列表显示 【文件类型】列
    re_predict_button: False  # 文件列表操作列显示【重新提取】按钮
    stat_board_foldable: False  # 文件列表支持 收回/展开 项目统计数据（仅前端交互）
  customization_schema_fields: False  # 自定义schema字段
  schema_manage:  # schema管理tab相关
    rule_based_judgment: False  # 显示「规则判断」tab
  toolbar: False  # 顶部菜单栏显示【工具栏】
  role_based_permission: False # 是否开启基于角色的权限管理
  enable_user_group: False  # 启用用户组功能
  common_permissions:
    browse:
      name: "浏览"
      definition: "可浏览项目"
    remark:
      name: "信息提取"
      definition: "可对文档进行标注以及查看提取结果"
    manage_prj:
      name: "项目管理"
      definition: "可对其他用户项目进行编辑以及删除"
    manage_user:
      name: "用户管理"
      definition: "可对系统用户账号进行增加、删除以及修改"
    manage_mold:
      name: "Schema管理"
      definition: "可对其他用户Schema进行编辑以及删除"
    manage_model:
      name: "模型管理"
      definition: "可对模型进行版本创建、提取模式设置、训练、启用以及删除"
    manage_law:
      name: "法规管理"
      definition: "可对系统法规进行增加、删除以及修改"
  additional_permissions: {}  # 额外添加的用户权限, 增加审核权限,需要同步开启 plugins.inspector & plugins.cgs
#      customer_rule_participate:
#        name: "规则管理"
#        definition: "可创建自定义规则，对提取结果进行审核"
#      inspect:
#        name: "规则审核"
#        definition: "可查看规则审核的结果"
  basic_permissions: # 默认拥有的权限, 前端现在很多地方绑定了remark权限, 去掉remark需谨慎
    - 'browse'
    - 'remark'
  export_inspect_result: False # 是否支持"导出审核结果" csv格式
  show_develop_model_test: False  # 是否展示定制模型的'查看准确率'按钮
  show_develop_model_diff: False  # 是否展示定制模型的'查看版本差异'按钮
  rule_need_review: False  # 新建审核规则是否需要审核
  default_audit_rule_public: True  # 创建的audit_rule.public默认为True
  allow_different_models: True # 模型管理页面组合字段跟其子项的配置 是否支持配置不同的模型


worker: # celery worker 相关配置
  app_name: "remarkable"
  default_queue: "celery"

prompter: # 定位模型相关配置
  workers: 4 # 训练/预测 时使用的进程数
  mode: "v2"  # 定位模型版本: v1 or v2 or rpc
  #  use_syllabuses: True    # 是否使用目录信息
  #  tokenization: "jieba"   # 分词方法，为 null 则按空白分词（英文）
  #  context_length: 1       # 上下文范围
  batch_size: 100
  auto_build_ignores: "*" # 不自动训练的 schema
  answer_version: 2.2 # 系统使用的答案格式版本
  training_data_status: "2, 5, 10, 100" # 这些 status 的题目认为标注完成（用于 训练、统计）
  rpc_address: "localhost:10051"  # 对接 RPC 服务地址


dpp:
  farm_env: "farm_prod"
  farm: "http://192.168.1.30:9003"
  roster: "https://u.paodingai.com/api/user/login_and_getoff"
  data_hub: "{project_root}/data"
  tags:
    hunter_json_from_scriber_kcb: 169 # pdfinsight
    scriber_kcb_answer: 170 # 答案
    scriber_kcb_pdf: 171 # pdf

notification:
  switch: False # MM通知开关, 默认不开启
  channel: "prod-exception" # 发送对象, 可以是频道也可以是具体的人, 比如@张全蛋
  mattermost: "http://mm.paodingai.com/hooks/zxg3ncokc3yuxfymyrco7zctta" # MM web hooks url
  tail: "@luojie"

prophet:
  package_name: "sse_predictor"
  multi_packages: []  # 优先级高于prophet.package_name
  config_map:
    01 资产处置公告: "asset_disposal"
    02 定期经营数据-临时公告: "periodic_business_data_temporary_announcement"
    03 公司章程公告-公司章程: "association_articles_announcement"
    深交所信息抽取-创业板-注册制-财务基础数据: "financial_data"

inspector:  # 使用新的审核模块inspector时,web.inspect_rules应配置False,以满足需求:仅在审核页面修改file_answer后触发重跑审核
  package_name: "cgs_checker"  # 审核模块所在的包
  audit_molds:  # 允许进行审核的mold,不配置时将允许所有mold
    - "私募-基金合同"

kv_model:
  use_gpu: False

ai:
  table_extract:
    address: "table_extract"
    expand: True  # 模型预测时是否做表格推断,模型里面默认True
  scriber:
    address: "localhost:2999"
    mode: "allinone"  # "allinone" or "distributed"

testing:
  predict:
    files: "1, 2, 3"
    mold: "4, 5"
    start: 1
    end: 10

build:
  docker:
    cli_pipe: # 部署命令
    dot_ignore:  # docker ignore list


# available_models 配置是一个字典，如没有这个配置项则表示所有的模型都可开放
# 字典的key是在模型管理模块的模型名称
# 字典的value是一个字典或者bool,若是字典时比如partial_text, 字典的key是模型的配置项，value是配置项的值
# 若是bool时，则表示无特殊配置，仅占位，默认写True
available_models:
#partial_text: True
#cell_partial_text: True
#score_filter: True
#syllabus_elt_v2: True
#table_kv: True
#table_row: True
#config_in_code: True
#table_tuple: True
#fixed_position: True
#auto: True
#middle_paras: True

time_limit:
  enable: False
  offset: 28800  # 偏移量, 单位秒, 默认为8小时
  expire_at: "1970-01-01 00:00:00" # 过期时间
  path: "/data/patch/patch_00.tar.gz"

dev:  # 开发时的特殊配置
  unique_training_cache_dir: False  # training_cache_dir里加上dbname
_new_entry:
  "prompter.training_data_status": "prompter.trainning_data_status"
