debug: False
logging:
  level: "info"

app:
  app_id: "remarkable"
  secret_key: "hello_remarkable"
  simple_token: "5Y2O5aSP55qEdG9rZW4="
  jwt_secret_key: "4fe1ae23ae6f4b4d81df5e6e3567205f"
  token_expire: 120
  session_expire: 7200 # session过期时间, 不配置默认600s
  rate_limit_expire: 7200 # 接口访问频率限制时间, 不配默认60s(暂未启用)
  max_fail_count: 100 # session有效期内最大尝试登录次数, 不配默认10次, 超过限制次数继续登录会被持续封禁
  auth:
    pdfinsight:
      app_id: "pdfinsight"
      secret_key: "show-me-the-money"
      token_expire: 120
      url: "http://pdfinsight:8096"
      doc_as_docx: True
    trident:
      app_id: "trident"
      secret_key: "show-me-the-money"
      token_expire: 120
      url: ""

web:
  http_port: 8080
  domain: "scriber:8000"
  plugins:
    - "fileapi"
    - "ext_api"
    - "nafmii"
    - "debug"
    - "inspector"
    - "cgs"
  customer_answer: True # 生成客户定制化答案
  user_system_provider: "trident"
  apis:
    sso: ""
    login_callback: ""
    get_label_user: ""
    get_label_user_by_cn_list: ""
    sync_file: ""
  pdf_converter: "{project_root}/bin/converter/word2pdf.exe"
  revision_tools: "{project_root}/bin/dr/docx_revision" # docx 批注工具
  tmp_dir: "/data/tmp/"
  data_dir: "{project_root}/data/files/"
  prompter_dir: "{project_root}/data/prompter/"
  default_question_health: 1
  preset_answer: True
  preset_from_cache: False
  user_answer_black_list: "" # 这些用户的答案不会作为缓存答案(uid)
  limit_of_preset_num: 10 # 限制预测答案的个数
  limit_of_crude_elts: 5 # 限制读取预测元素块的个数
  show_merge_answer: False # 前端是否显示"合并的答案"按钮
  record_manual: False # 前端是否显示"采用答案"按钮
  predict_from_memory:
    switch: True
    data_dir: "{project_root}/data/tbl_headers/"
  show_export_answer: False # 显示/隐藏"导出的答案"按钮(上交所)
  show_marker: False
  model_manage: True # 模型版本管理
  enable_remote_model: True # 提取模型配置中，启用对接远程模型选项
  data_abroad: False # 数据生产（对接外部数据库）
  model_abroad: False # 模型接入（接入外部模型）
  chapter_assist: False # 是否开启章节辅助标注功能
  score_filter_threshold: 0.3  # score_filter模型分数阈值
  enable_pdf2word: false # 是否开启 pdf转word工具栏 https://gitpd.paodingai.com/cheftin/docs_scriber/-/issues/4487
  readonly_mold_list:
    - 行权结果公告
    - 行权公告
    - 付息兑付安排公告
  hex_binary_key: "1234abcd5678ef901234abcd5678ef90"
db:
  type: mysql
  host: mysql
  port: 3306
  dbname: scriber
  user: scriber
  password: "zUEOXlFRKmqfJRP7"

redis:
  host: redis
  port: 6379
  db: 1
  password: "zUEOXlFRKmqfJRP7"

client:
  name: "nafmii" # hkex, szse
  remark_progress_type: "level1" # all
  language: "zh_CN" # en_US
  content_language: "zh_CN" # 文档的语言, zh_CN/en_US
  hide_rough_fields: True
  show_prompt_element_button: True # 是否显示AI位置推荐按钮
  check_schema_base_type: False
  export_label_data: False # 是否支持"导出标注json"
  export_label_txt: False  # 是否支持"导出标注txt"
  export_answer_csv: True # 是否支持"导出答案csv"
  export_single_answer: False # 是否显示导出标注/预测答案按钮
  stat_accuracy: True # 是否支持统计模型正确率
  readonly_molds: '行权结果公告;行权公告;付息兑付安排公告'
  file_size_limit: 300
  
  show_all_predict_items: True
  answer_default_display_level: 1 # 答案默认展开级别, 数字代表展开到第n级
  ocr:
    enable: False
    service: "pai"

feature:
  batch_delete: True  # 批量删除功能
  toolbar: True  # 顶部菜单栏显示【工具栏】
  show_develop_model_test: True  # 是否展示定制模型的'查看准确率'按钮
  supported_suffixes: [ '.doc', '.docx', '.jpeg', '.jpg', '.pdf', '.png', '.ppt', '.pptx', '.xls', '.xlsx' ]  # 支持的后缀
  additional_permissions:
    inspect:
      name: "规则审核"
      definition: "可查看规则审核的结果"
    manage_task:
      name: "业务用户"
      definition: "业务用户"
    manage_all:
      name: "运维用户"
      definition: "运维用户"


data_flow:
  post_pipe_after_preset: True # 预测完之后是否执行后处理
  file_answer:
    generate: True # 生成文件级的答案

worker:
  app_name: "remarkable"
  default_queue: "celery"

prompter:
  mode: "v2"
  use_syllabuses: True
  tokenization: "jieba"
  context_length: 1
  workers: 4
  batch_size: 100
  auto_build_ignores: "*"
  answer_version: 2.2
  training_data_status: "2, 5, 10, 100"

nafmii:
  file_types:
    付息兑付安排公告:
      pid:
    行权公告:
      pid:
    行权结果公告:
      pid:
    敏感词/关键词识别:
      pid: 77
  urls:
    user_info: ""
    edit_password: ""
  time:
    pdf_page: 50

prophet:
  package_name: "nafmii_predictor"
  config_map:
    付息兑付安排公告: "nafmii_payment"
    行权公告: "nafmii_exercise"
    行权结果公告: "nafmii_exercise_result"

unoserver:
  host: unoserver.b2.cheftin.cn
  port: 1080

build:
  docker:
    cli_pipe: # 部署命令
      - 'inv op.import-schema -n nafmii'
      - 'inv op.deploy-model "付息兑付安排公告" --enable --name=nafmii_payment'
      - 'inv op.deploy-model 行权公告 --enable --name=nafmii_exercise'
      - 'inv op.deploy-model 行权结果公告 --enable --name=nafmii_exercise_result'

playwright:
  executable: "/usr/bin/google-chrome"
