debug: False
logging:
  level: "info"

app:
  app_id: "remarkable"
  secret_key: "hello_remarkable"
  simple_token: "9fpHf8pofUH3njF"
  token_expire: 120
  session_expire: 7200 # session过期时间, 不配置默认600s
  rate_limit_expire: 7200 # 接口访问频率限制时间, 不配默认60s(暂未启用)
  max_fail_count: 100 # session有效期内最大尝试登录次数, 不配默认10次, 超过限制次数继续登录会被持续封禁
  auth:
    label:
      app_id: ""
      secret_key: ""
      token_expire: 300
    roster:
      app_id: ""
      secret_key: ""
      token_expire: 300
      url: ""
    pdfinsight:
      app_id: "pdfinsight"
      secret_key: "show-me-the-money"
      token_expire: 120
      url: "http://pdfinsight:8096"
    trident:
      app_id: "trident"
      secret_key: "show-me-the-money"
      token_expire: 120
      url: ""
    autodoc:
      app_id: "autodoc"
      secret_key: "show-me-the-money"
      token_expire: 120
      url: ""
web:
  http_port: 8080
  domain: "scriber:8000"
  plugins:
    - "fileapi"
    - "ext_api"
    - "debug"
    - "csc_octopus"
  classes:
    
    answer_predictor:

  apis:
    sso: ""
    login_callback: ""
    get_label_user: ""
    get_label_user_by_cn_list: ""
    sync_file: ""
    sync_host: ""
  pdf_converter: "{project_root}/bin/converter/word2pdf.exe"
  tmp_dir: "/data/tmp/"
  data_dir: "{project_root}/data/files/"
  prompter_dir: "{project_root}/data/prompter/"
  default_question_health: 1
  preset_answer: True
  user_answer_black_list: "" # 这些用户的答案不会作为缓存答案(uid)
  limit_of_preset_num: 10 # 限制预测答案的个数
  limit_of_crude_elts: 5 # 限制读取预测元素块的个数
  show_merge_answer: False # 前端是否显示"合并的答案"按钮
  record_manual: False # 前端是否显示"采用答案"按钮
  predict_from_memory:
    switch: True
    data_dir: "{project_root}/data/tbl_headers/"
  show_export_answer: False # 显示/隐藏"导出的答案"按钮(上交所)
  show_marker: False
  model_manage: False # 模型版本管理
  enable_remote_model: True # 提取模型配置中，启用对接远程模型选项
  data_abroad: False # 数据生产（对接外部数据库）
  model_abroad: False # 模型接入（接入外部模型）
  chapter_assist: True # 是否开启章节辅助标注功能
  user_without_login: 'octopus'
  use_pdfinsight_cache_limit_hours: 86400 # 24*3600


db:
  host: "postgres"
  port: 5432
  dbname: "scriber"
  user: "postgres"
  password: ""

redis:
  host: redis
  port: 6379
  db: 1
  password: "scriber"

client:
  name: "csc-octopus" # hkex, szse
  remark_progress_type: "level1" # all
  language: "zh_CN" # en_US
  hide_rough_fields: True
  show_prompt_element_button: True # 是否显示AI位置推荐按钮
  check_schema_base_type: False
  export_label_data: False # 是否支持"导出标注json"
  export_label_txt: False  # 是否支持"导出标注txt"
  export_answer_csv: True # 是否支持"导出答案csv"
  export_single_answer: False # 是否显示导出标注/预测答案按钮
  stat_accuracy: True # 是否支持统计模型正确率
  
  show_all_predict_items: True
  answer_default_display_level: 1 # 答案默认展开级别, 数字代表展开到第n级
  support_multiple_molds: True
  ocr:
    enable: False
    service: "pai"

worker:
  app_name: "remarkable"
  default_queue: "celery"

prompter:
  mode: "v2"
  use_syllabuses: True
  tokenization: "jieba"
  context_length: 1
  workers: 4
  batch_size: 100
  auto_build_ignores: "*"
  answer_version: 2.2
  training_data_status: "2, 5, 10, 100"


prophet:
  package_name: "csc_poc_predictor"
  config_map:
    缴款通知书POC: "demand_note"
    缴款通知书: "demand_note"
    国债发行公告POC: "treasury_bonds"
    国债发行公告: "treasury_bonds"
    发行情况公告: "issuance_bonds"
    产品承销/认购额度表: "subscription_quota"
    发行款到账确认书: "issuance_confirmation"
    一对一专户投顾协议（固益联、委外专户）: "investment_agreement"
    账内投顾协议（帐内投顾）: "account_investment"
    《【深中登】债券持有人名册》: "register_bondholders"
    《【深中登】回售结果明细表》: "results_breakdown"
    《【上清所】债券持有人名册 》: "bondholders_register"

build:
  docker:
    cli_pipe: # 部署命令
      - "inv worker.create-user octopus U7TAiX8e4mgh"  # 新建免密用户: octopus/U7TAiX8e4mgh
      - "inv op.import-schema --name=csc_octopus --overwrite"

      - "inv op.deploy-model '国债发行公告' --enable --name=csc_treasury_bonds"
      - "inv op.deploy-model '缴款通知书' --enable --name=csc_demand_note"
      - "inv op.deploy-model '发行情况公告' --enable --name=csc_issuance_bonds"
      - "inv op.deploy-model '产品承销/认购额度表' --enable  --name=csc_subscription_quota"
      - "inv op.deploy-model '产品注册要素表' --enable  --name=csc_product_registry"
      - "inv op.deploy-model '产品发行登记申请书' --enable  --name=csc_product_application"
      - "inv op.deploy-model '发行款到账确认书' --enable  --name=csc_issuance_confirmation"
      - "inv op.deploy-model '一对一专户投顾协议（固益联、委外专户）' --enable  --name=csc_investment_agreement"
      - "inv op.deploy-model '账内投顾协议（帐内投顾）' --enable --name=csc_account_investment"
      - "inv op.deploy-model '《【深中登】债券持有人名册》' --enable --name=csc_register_bondholders"
      - "inv op.deploy-model '《【深中登】回售结果明细表》' --enable --name=csc_results_breakdown"
      - "inv op.deploy-model '《【上清所】债券持有人名册 》' --enable --name=csc_bondholders_register"

octopus:
  confirm_url: "http://10.101.252.35:9222/aiProject"   # 推送答案地址
  call_timeout: 5
  upload:
    project_name: "csc_octopus" # 默认project名称
    scriber_domain: "http://100.64.0.3:22109"
  # 与客户约定的mold_id传值内容 新增schema的推送时 需要添加此配置 并同步给客户
  mold_map:
    '1': "国债发行公告"
    '2': "发行情况公告"
    '3': "回售登记"
    '4': "产品承销/认购额度表"
  scrapy:
    user_agent: "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.115 Safari/537.36"
  check:
    timeout:
      count: 550 # 检查超时次数
      step_second: 1 # 前后两次检查间隔秒数
  proxy: "" # 爬虫用公网访问代理，例：http://10.10.1.10:1080
  register_mold_names:
    - "《【上清所】债券持有人名册 》"
    - "《【深中登】债券持有人名册》"
    - "《【深中登】回售结果明细表》"
_new_entry:
  "prompter.training_data_status": "prompter.trainning_data_status"


playwright:
  executable: "/usr/bin/chromium"