debug: False
logging:
  level: "info"

app:
  app_id: "ecitic_dcm"
  secret_key: "hello_remarkable"
  simple_token: "oLdU3pvF05rWbBVgzgzd"
  token_expire: 120
  session_expire: 7200 # session过期时间, 不配置默认600s
  rate_limit_expire: 7200 # 接口访问频率限制时间, 不配默认60s(暂未启用)
  max_fail_count: 100 # session有效期内最大尝试登录次数, 不配默认10次, 超过限制次数继续登录会被持续封禁
  auth:
    pdfinsight:
      app_id: "pdfinsight"
      secret_key: "show-me-the-money"
      token_expire: 120
      url: "http://pdfinsight:8096"
      doc_as_docx: True
web:
  http_port: 8080
  domain: "scriber:8000"
  plugins:
    - "fileapi"
    - "debug"
    - "ecitic_dcm"
  mode_unlimited_answers: True # 无限答题模式（答题次数不受限制）
  pdf_converter: "{project_root}/bin/converter/word2pdf.exe"
  tmp_dir: "{project_root}/data/tmp/"
  data_dir: "{project_root}/data/files/"
  prompter_dir: "{project_root}/data/prompter/"
  default_question_health: 1
  preset_answer: True
  limit_of_preset_num: 10 # 限制预测答案的个数
  limit_of_crude_elts: 5 # 限制读取预测元素块的个数
  show_merge_answer: True # 前端是否显示"合并的答案"按钮
  record_manual: False # 前端是否显示"采用答案"按钮
  show_marker: False
  model_manage: True # 模型版本管理
  chapter_assist: True # 是否开启章节辅助标注功能
  table_association: True # 是否开启表格辅助标注功能
  table_association_postfix: True  # 表格辅助标注时是否可标后缀
  predict_crude_elements: True
  force_ocr_mold_list: # 需要强制进行ocr的mold，id / name 均可
    - "申购单"
  customer_answer: True # 生成客户定制化答案
  classes:
    answer_converter: "remarkable.converter.ecitic_dcm.EciticDcmAnswerWorkShop"

db:
  host: "postgres"
  port: 5432
  dbname: "scriber"
  user: "postgres"
  password: "yW1xV7dP3wZ1"

redis:
  host: redis
  port: 6379
  db: 1
  password: "rV1tM3oE7wY7"

client:
  name: "ecitic_dcm"
  remark_progress_type: "level1" # all
  language: "zh_CN" # en_US
  support_multiple_molds: True
  hide_rough_fields: True
  show_prompt_element_button: True # 是否显示AI位置推荐按钮
  check_schema_base_type: False
  export_single_answer: False # 是否显示导出标注/预测答案按钮
  stat_accuracy: True # 是否支持统计模型正确率
  show_all_predict_items: True
  answer_default_display_level: 1 # 答案默认展开级别, 数字代表展开到第n级
  ocr:
    enable: False
    service: "pai"
  cron_task_switch: # 定时任务开关
    run_ecitic_dcm_sync: True
    run_sync_data_from_email: True

data_flow:
  post_pipe_after_preset: True

worker:
  app_name: "remarkable"
  default_queue: "celery"

prophet:
  package_name: "ecitic_dcm_predictor"
  config_map:
    申购单: "ecitic_dcm_purchase"

prompter:
  mode: "v2"
  use_syllabuses: True
  tokenization: "jieba"
  context_length: 1
  workers: 4
  batch_size: 100
  auto_build_ignores: "*"
  answer_version: 2.2
  training_data_status: "2, 5, 10, 100"

build:
  docker:
    cli_pipe: # 部署命令
      - "inv op.import-schema --name=citics_dcm --overwrite"
      - 'inv op.deploy-model "申购单" --enable --name=ecitic_dcm_purchase'

citics_dcm:
  secret_key: "tToa9HDx6xl14dV33VbgKhLKPdXRhUih"
  rest_domain: "https://api-echo.ferstar.org"
  email_host: ""
  book_urls:
    project_today: "/oa/api/ib-hxdd/getBookkeepingInfoController/getDcmbkProjectToday"
    bond_order: "/oa/api/ib-hxdd/getBookkeepingInfoController/getDcmbkBondOrder"
    bond_limit: "/oa/api/ib-hxdd/getBookkeepingInfoController/getDcmbkBondLimit"
    bond_under_write_rate: "/oa/api/ib-hxdd/getBookkeepingInfoController/getDcmbkBondUnderWriteRate"
